{% extends 'layout/base.html.twig' %}
{% block title "Toutes les priorités" %}

{% block header %}
    {% embed 'component/_header.html.twig' %}
        {% block header_title "Toutes les priorités" %}
        {% block header_action_list %}
            <li>
                <a href="{{ path('app_priority_new') }}" class="btn btn-white btn-dim btn-outline-light">
                    <span>Ajouter</span>
                </a>
            </li>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block content %}
    {% embed 'component/_list_priority.html.twig' with {_action: 'ajouter une priorité', _path: path('app_priority_new')} %}
        {% block list_card_table_head %}
            <th>Nom</th>
            <th>Valeur</th>
            <th>Edition</th>
            <th>Suppression</th>
        {% endblock %}
        {% block list_card_table_body %}
            {% for row in priorities %}
                <tr>
                    <td>
                        <a href="#" target="_blank">
                        </a>
                        {{ row.name }}
                    </td>
                    <td>{{ row.value }}</td>
                    <td>
                        <a href="{{ path('app_priority_edit', {id: row.id}) }}" class="btn btn-outline-primary">
                            <span>editer</span>
                        </a>
                    </td>

                    <td>
                        <a href="{{ path('app_priority_delete', {id: row.id}) }}" class="btn btn-outline-danger">
                            <span>supprimer</span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endblock %}
